.meta.news-story__rubric-label {
    padding-bottom: 0;
}
.meta.news-story__rubric-label .meta__item {
    position: relative;

    padding-left: 15px;

    text-transform: uppercase;
    letter-spacing: 1px;

    color: #17bebb;;

    font-size: 10px;
    font-weight: 700;
}
.meta.news-story__rubric-label .meta__item:before {
    position: absolute;
    top: 3px;
    left: 1px;

    width: 8px;
    height: 8px;

    content: '';

    border-radius: 100%;
    background: #17bebb;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_index .meta__item {
    color: #f00;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_index .meta__item:before {
    background: #f00;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_politics .meta__item {
    color: #852cb5;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_politics .meta__item:before {
    background: #852cb5;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_society .meta__item {
    color: #0054b9;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_society .meta__item:before {
    background: #0054b9;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_business .meta__item {
    color: #0bb8e6;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_business .meta__item:before {
    background: #0bb8e6;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_world .meta__item {
    color: #d09900;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_world .meta__item:before {
    background: #d09900;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_sport .meta__item {
    color: #05c386;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_sport .meta__item:before {
    background: #05c386;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_incident .meta__item {
    color: #222;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_incident .meta__item:before {
    background: #222;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_culture .meta__item {
    color: #de00f3;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_culture .meta__item:before {
    background: #de00f3;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_science .meta__item {
    color: #17bebb;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_science .meta__item:before {
    background: #17bebb;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_computers .meta__item {
    color: #17bebb;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_computers .meta__item:before {
    background: #17bebb;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_region .meta__item {
    color: #f00;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_region .meta__item:before {
    background: #f00;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_auto .meta__item {
    color: #ff7005;
}
.meta.news-story__rubric-label.news-story__rubric-label_rubric_auto .meta__item:before {
    background: #ff7005;
}
.meta.news-story__media-links {
    height: 38px;;
    padding-top: 0;
}
.meta.news-story__media-links .meta__item {
    margin-right: 20px;
}
.meta.news-story__media-links .link {
    display: table-cell;

    padding-top: 2px;

    color: #222;

    font-size: 14px;
    font-weight: 700;;
    line-height: 20px;
}
.meta.news-story__media-links .link:before {
    display: inline-block;

    width: 16px;;
    height: 12px;

    content: '';
}
.meta.news-story__media-links .news-story__photo-link:before {
    margin-right: 9px;;

    background: url(images/photo.svg) center no-repeat;
}
.meta.news-story__media-links .news-story__video-link:before {
    margin-right: 5px;;

    background: url(images/video.svg) center no-repeat;
}
.meta.news-story__media-links .meta__item:not(:last-child):after {
    margin: 0 2px;

    content: '';
}
.news-story__source-link.link {
    color: #999;
}
.snippet_turbo .snippet__footer:after,
.link.news-story__source-link_turbo:after {
    position: absolute;

    width: 16px;
    height: 16px;
    margin-left: 6px;

    content: '';

    background: url(images/turbo.svg) center no-repeat;
}
.news-story__source-label .link.news-story__source-link_turbo:after {
    margin-top: 2px;
}
.meta .news-story__story-link.link:before {
    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 0 10px 0 0;

    content: '';

    background: url(images/link.svg) center no-repeat;
}
.meta .news-story__story-link.link {
    color: #999;
}
.link {
    color: #000;
}
.link.news-story__all-sources-link {
    display: inline-block;

    margin-top: 6px;;

    color: #999;

    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
}
.link.news-story__all-sources-link:hover {
    color: #000;
}
.snippet.news-story__snippet {
    padding-top: 5px;
    padding-bottom: 5px;
}
.snippet.news-story__snippet .snippet__thumb {
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin-top: 4px;

    flex: 0 0 30px;
}
.snippet.news-story__snippet .snippet__title {
    margin: 0;;

    font-size: 14px;
    line-height: 18px;
}
.snippet.news-story__snippet .link.snippet__title-link.markup__link {
    color: #222;
}
.snippet.news-story__snippet .meta.snippet__footer {
    margin-top: 0;
}
.snippet.news-story__snippet .meta.snippet__footer .typo_text_s {
    line-height: 18px;
}
.snippet.news-story__snippet .snippet__content.grid {
    margin-left: 10px;
}
.snippet.news-story__related-snippet .meta__item:not(:last-child):after {
    margin: 0 2px;

    content: '';
}
.snippet.news-story__related-snippet .snippet__title {
    margin: 0;;

    font-size: 16px;
    line-height: 20px;
}
.snippet.news-story__related-snippet .link.snippet__title-link.link {
    color: #222;
}
.collection .snippet.news-story__related-snippet {
    padding-top: 11px;
    padding-bottom: 11px;
}
.collection .snippet.news-story__related-snippet .meta {
    margin-bottom: 3px;
}
.news-story__sources-title {
    margin: 28px 0 0;
    padding: 0 0 10px;

    font-size: 21px;
    font-weight: 700;;
    line-height: 24px;
}
.news-story__header.header.header_size_l {
    padding-top: 7px;
    padding-bottom: 0;
}
.news-story__header.header.header_size_l .image_type_logo {
    width: 238px;
    height: 31px;

    background-image: url(images/logo.svg);
}
.cover__content.grid.grid_wrap {
    width: 100%;
}
.image.image_type_block.image.news-story__cover {
    margin-bottom: 12px;
}
.news-story__cover .image__capture {
    position: absolute;
    right: 10px;
    bottom: 12px;;

    color: #fff;
}
.tabs.news-story__rubric-menu .native-scroll .native-scroll__inner {
    background-color: #343a40;
}
.news-story__rubric-menu {
    margin-bottom: 28px;;

    white-space: nowrap;
}
.tabs.news-story__rubric-menu .grid_cell + .grid_cell {
    margin-left: 0;
}
.tabs.news-story__rubric-menu .tabs__item .button {
    display: inline-block;

    box-sizing: unset;

    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: #999;
    border-radius: 0;;
    background-color: #343a40;

    font-size: 11px;
    font-weight: 700;
    line-height: 45px;
}
.tabs.news-story__rubric-menu .tabs__item_active .button {
    color: #fff;
}
.news-story__rubric-menu .button_size_m {
    height: 45px;
}
.news-story__rubric-menu .button_size_m .button__label {
    padding-bottom: 3px;

    line-height: 45px;
}
.native-scroll.native-scroll__inner {
    overflow-x: hidden;
}
.native-scroll__inner.grid.grid_row.grid_margin_right-wrap.grid_margin_left-wrap {
    padding-right: 20px;;
    padding-left: 20px;
}
.news-story__title.title {
    margin-top: 12px;
    margin-bottom: 24px;;

    font-size: 26px;
    line-height: 30px;
}
.typo_text_m.typo_line_m.news-story__text {
    line-height: 22px;
}
.news-story__source-label.meta {
    line-height: 22px;
}
.collection.news-story__related-collection .collection__item:first-child {
    padding-top: 7px;
}
.advert_top {
    position: static;

    min-height: 70px;
    margin: 0;
}
.advert_top .advert__item {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 70px;
    min-height: 70px;
}
.advert_top + .page__markup {
    margin-top: 0;
}
.news-story__adv {
    position: relative;

    margin-top: 32px;
    padding-top: 27px;
    padding-bottom: 27px;
}
.news-story__adv:before,
.news-story__adv:after {
    position: absolute;
    right: -14px;
    left: -14px;

    height: 10px;

    content: '';

    background-color: #e5e5e5;
}
.news-story__adv:before {
    top: 0;
}
.news-story__adv:after {
    bottom: 0;
}
.news-story__adv:last-child {
    padding-bottom: 17px;
}
.news-story__adv:last-child:after {
    content: none;
}
.news-story__adv + .unit {
    margin-top: 32px;
}
.unit + .unit {
    margin-top: 0;
}
.page__cover + .page__markup {
    margin-top: 6px;
}
.ua_frame_yes .page__container {
    overflow-x: hidden;
}
.unit,
.news-story__sources-title,
.image_type_block.image_caption_on {
    max-width: 444px;
    margin-right: auto;;
    margin-left: auto;
}
.tabs {
    max-width: none;
}
